<div class="container">
    <header>
        <h1>Welcome to the Artist Marketplace</h1>
        <p class="tagline">Your one-stop shop for unique artworks and creative pieces.</p>
        <nav>
            <ul class="nav-links">
                <li><a  class="cts-button" routerLink="/login">Buyer Login</a></li>
                <li><a  class="cts-button" routerLink="/artistlogin">Artist Login</a></li>
                <li><a  class="cts-button" routerLink="/adminlogin">Admin Login</a></li>
                <li><a  class="cts-button" routerLink="/forartist">For Artists</a></li>
            </ul>
        </nav>
    </header>
  <hr>
    <section class="hero">
        <h2>Discover Your Creative Space</h2>
        <p>Explore a world of creativity and find the perfect piece of art for your home or office.</p>
        <a class="cta-button" routerLink="/gallery">Start Shopping</a>
    </section>
  
    <footer>
        <div class="footer-links">
            <h2>More Information</h2>
            <nav>
                <ul>
                    <li><a routerLink="/aboutus">About Us</a></li>
                    <li><a routerLink="/feedback">Feedback</a></li>
                    <li><a routerLink="/contactus">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </footer>
  </div>